.about
  padding 0
  .gallery
    margin-bottom 0
    button
      display none!important
  .main
    background white-gradient
    padding 3em
    .title
      display flex
      justify-content center
      flex-flow column
      h1
        big-letters(6em, grey)
        margin-bottom 32px
        text-align center
    .keys
      padding 1em
      line-height 2
      p
        column-count 2
      // &:before,
      // &:after
      //   content ""
      //   display block
      //   position absolute
      //   bottom 0
      //   top 0
      //   background-position center center
      //   background-size contain 
      //   background-repeat no-repeat
      //   width 3em
      // &:before
      //   background-image url('/images/key-left.svg')
      //   left 0
      // &:after
      //   background-image url('/images/key-right.svg')
      //   right 0
  .brands
    .title
      color white
      font-style italic
      padding .5em 0 
      margin 2em 16px
      font-size 3em
    img
      margin 1em 0
  .cases
    background linear-gradient(200deg, #000 0%, #414042 100%)
    padding 3em
    .title
      font-size 2.5em
      font-weight 100
      color yellow
      font-style italic
      padding-left 16px
    .case
      margin 1.5em 0
      height auto
      width 100%
      background-color #fff
      display flex
      min-height 15em
      box-shadow 15px 15px 20px rgba(0,0,0,0.4)
      &:hover
        .img
          &:before
            opacity 1

      .img
        flex-grow 1
        position relative
        width 100%
        background-size cover
        background-repeat no-repeat
        background-position center center
        &:before
          text-transform uppercase
          position absolute
          background-color yellow
          font-weight 600
          opacity 0
          transition all .3s
          content 'VIEW'
          padding .3em
          top 0
          bottom 0
          left 0
          right 0
          transition all .3s
          margin auto
          height 2em
          width 5em 
          text-align center
      .info
        display block
        height 100%
        background yellow
        flex-shrink 1
        width 400px
        display flex
        justify-content center
        flex-flow column
        text-align center
        padding 4em
        .name
          font-weight 600
          text-transform uppercase
          font-size 1.2em
          &:after
            content ''
            height 1px
            background-color grey
            width 30px
            margin 10px auto
            display block