.blog
  display block
  .title-section
    text-align center
    background inverted-gradient
    background-position center center
    background-size cover
    background-repeat no-repeat
    background-image url(/images/blog_cover.jpg)
    width 100%
    padding 32px
    min-height 350px
    display flex
    justify-content flex-end
    @media screen and (max-width: $screen-lg-min) 
      font-size 3em
      min-height 150px
      padding-top 4em
    h1
      text-align right
      max-width 90vw
      big-letters(5em)
      color #fff
      line-height .7em
      display flex
      justify-content center
      flex-flow column
      margin-right 5%
      @media screen and (max-width: $screen-lg-min) 
        font-size 64px
      .highlight
        color yellow
      .underline
        font-size .5em
        font-weight 500 
  .container-fluid
    width 100%
    padding 0
    .search
      background darker-grey
      form
        max-width 90%
        padding 2em 0
      .search-bar
        padding-right 2em
        @media screen and (max-width: $screen-md-min)
          padding-right 0
        .search-input
          background transparent
          border 1px solid transparent
          border-bottom 5px solid yellow
          font-size 2em
          width 100%
          color #fff
          padding-right  1.5em
          @media screen and (max-width: $screen-md-min)
            font-size 1.1em
          &:focus-within,
          &:focus
            outline none
        .fa
          font-size 2.5em
          color #fff
          position absolute
          right 1.2em
          top 0
          cursor pointer
          @media screen and (max-width: $screen-md-min)
            font-size 1.3em
            right 1em
            top 3px
        .fa-search
          opacity 1
          transition all .3s
        .fa-arrow-right
          opacity 0
          transition all .3s
        &:focus-within,
        &:hover,
        &:focus
          outline none 
          .fa-search
            opacity 0
          .fa-arrow-right
            opacity 1
    .article-listing
      background #fff
    .grid
      margin 1em auto
      color #fff
      max-width 90%
      h2
        big-letters(2em, black)
        border-bottom 5px solid yellow
        line-height 1.5em
        margin-left 16px
      .post
        color #000
        padding 0 1em
        margin 1.5em 0
        cursor pointer
        border 1px solid transparent
        transition all .3s
        @media screen and (max-width: $screen-md-min)
          padding 0
          margin .5em 0
        &:hover
          background rgba(255,255,255,.1)
        &.br
          border-right 1px solid grey
        &.bt
          border-top 1px solid grey
      .wrapper
        padding 0
        width 100%
        color grey
        max-height none !important
        box-shadow 3px 3px 3px rgba(0,0,0,0.1)
        overflow visible
        position relative
        transition all .4s cubic-bezier(.16,.62,.35,.99)
        z-index 2
        .header
          padding 0
          position relative
          .img
            padding 0
            img
              margin 0
              width 100%
          .title
            padding 0 1em
            position absolute
            top 10%
            left 2em
            background yellow
            max-width 90%
            @media screen and (max-width: $screen-sm-min)
              position relative
              max-width initial 
              left initial 
              top initial
            &:before
              background yellow
              content "\f04b"
              width 2.3em
              height 2.3em
              position absolute
              left -2.5em
              display inline-block
              font normal normal normal 14px/1 FontAwesome
              font-size inherit
              text-rendering auto
              -webkit-font-smoothing antialiased
              color #fff
              font-size 16px
              padding 10px 10px 10px 12px
              transform translateX(-10px)
              transition transform .3s
              @media screen and (max-width: $screen-sm-min)
                display none
            h3
              text-transform uppercase
              font-weight 900
              font-size 18px
              margin 0
              padding .5em 1em
              color #fff
              text-shadow 1px 1px rgba(0,0,0,0.2)
          .details
            background clear-gray
            padding 0
            i
              display inline-block
              margin-right 1em
              margin-left 1em
            .author,
            .categories
              padding .5em 5% 
              display block
              border-bottom 1px solid grey
            .categories
              font-size 14px
              text-transform uppercase
              font-weight 300
        .contents
          padding 1em
          font-size 16px
          color #fff
          background black
          .lead
            font-size inherit
            @media screen and (max-width: $screen-lg-min) 
              max-height 5.5em
              overflow hidden
        &:hover
          .title
            &:before
              transform translateX(0)
    .side-bar
      background-color #272727
      .block
        display block
        border-bottom 1px solid grey
        padding 0 2em 2em
        margin 0 -15px
        .grid
          margin 0 auto
          width 100%
          overflow visible
          max-width 100%
          position relative
          .owl-stage
            display flex
          .owl-dots
            display none
          .owl-nav
            position absolute
            width 100%
            .owl-prev,
            .owl-next
              position absolute
              top 6em
              border 1px solid yellow 
              background-color yellow
              font-size 1.2em
              padding 2px 5px 10px
              span
                font-size 2em
                display block
                line-height .5em
              &:focus
                outline none
            .owl-prev
              left -1em
            .owl-next
              right -1em
        &.white
          background white-gradient
          0 1em 2em
          h2
            color black
          .post
            h3
              font-size .8em
              padding .5em
            .contents
              display none
            .details
              background darker-grey
              color white
              .author
                display none
        &.email
          p
            color #fff
          form
            padding-right 1em
            text-align right
            .text
              border 3px solid transparent 
              border-bottom  3px solid yellow
              display block
              width 100% 
              background transparent
              color #ffffff
              margin-bottom 1em
            .submit
              background-color transparent
              border 3px solid yellow
              color #fff
              margin-left auto
        &.contact-us
          .wrapper
            padding 2em 0 1em
            text-align center
            span
              text-transform uppercase
              font-style italic
              font-size 1.7em
              display block
              text-align center
            .we
              color white
              font-weight 300
            .solution
              font-weight 900
              color yellow
              font-size 1.8em
              letter-spacing 2px
            a
              display inline-block
              margin auto
              color white
              border 3px solid yellow
              text-transform uppercase
              margin auto
              margin-top 1em
              font-size 1.2em
              padding 8px 16px
              font-weight 900
              transition all .3s
              &:hover
                background yellow
        &.tags
          .tag-container
            color #ffffff
            display flex
            flex-wrap wrap
            margin-left -.5em
            margin-top 1em
            justify-content space-between
            a
              border 1px solid yellow
              flex-grow 1
              margin .2em .2em
              padding .5em .7em
              text-align center
              transition all .3s
              cursor pointer
              text-transform uppercase
              &:hover
                background yellow 
      h2
        big-letters(2em, white)
        border-bottom 5px solid yellow
        line-height 1.5em
        display inline-block
      .category-list
        display block
        width 90%
        margin 1em auto
        color #fff
        .item
          display block
          border-bottom 1px solid yellow
          padding .7em 0
          text-transform uppercase
          font-weight 900
          position relative
          &:hover
            span 
              transform translateX(10px)
          span 
            display inline-block
            margin-left 2em
            transition all .3s
            transform translateX(0)
            font-size 14px
          .category-name
            padding-right 1.5em
          i
            position absolute
            height fit-content
            top 0
            bottom 0
            margin auto
          .count
            position absolute
            right 0
            top 0
            bottom 0
            margin auto
            height fit-content
.post 
  position relative
  overflow visible
  .container
    position relative
    margin-top -5em
    margin-bottom 5em
    h1.title
      big-letters(5em)
      position absolute
      right 0
      top .3em
      text-align right
      z-index 2
      text-shadow 10px 10px 35px rgba(0,0,0,.7)
.post-page
  padding 0
  transition all .3s
  position relative
  background #fff
  .left
    &:before
      position absolute
      width 30%
      background-color clear-grey
      height 100%
      content ""
      z-index 0
  .article-details
    background darker-grey
    margin-right -15px
    padding 2em 2em 2em 0
    box-shadow 5px 5px 5px rgba(0,0,0,0.2)
    z-index 2
    position relative
    @media screen and (max-width: $screen-sm-min)
      padding 1em 1em 1em 0
    .title
      color #fff
      margin 0
      background yellow
      max-width calc(100% - 36px)
      box-shadow 5px 5px 5px rgba(0,0,0,0.3)
      position relative
      @media screen and (max-width: $screen-sm-min)
        max-width 100%
      h1
        text-transform uppercase
        font-weight bold
        text-shadow 1px 3px 3px rgba(0,0,0,0.2)
        font-size 30px
        padding 16px
        padding-left 2.5em
        @media screen and (max-width: $screen-sm-min)
          padding-left 1.7em
          font-size 1.3em
        .fa
          margin auto
          font-size .7em
          vertical-align middle
          position absolute
          left 2em
          top 0
          bottom 0
          height fit-content
          @media screen and (max-width: $screen-sm-min)
            left 1em
  .subtitle
      color #fff
      margin-top 5px
      padding-left 10%
      @media screen and (max-width: $screen-sm-min)
        padding .5em
      &>div
        display inline-block
      span
        display inline-block
        margin 0 1em
      .category
        text-transform uppercase
  .grid
    padding 2em 0
    position relative
    z-index 2
    @media screen and (max-width: $screen-sm-min)
      margin 0 !important
      max-width 100%!important
      padding 4em 0 2em
    .content
      box-shadow 0px 5px 5px rgba(0,0,0,0.3)
      color black
      width 95%
      padding 2em 0 2em
      margin auto
      background-color white
      .share
        position absolute
        left -.5em
        @media screen and (max-width: $screen-sm-min)
          left initial
          right 0
          top 0
        .links
          flex-flow column
          justify-content space-around
          @media screen and (max-width: $screen-sm-min)
            flex-flow nowrap
          a
            display block
            margin 0
            text-align center
            background-color darker-grey
            border-radius 0
            padding .5em
            margin 5px
            font-size 1.5em
      article
        width 90%
        margin auto
        img
          max-width 100%
      a
        color #000
        font-weight 600
        text-decoration underline
      ul
        list-style disc
        padding-left 1em
        font-style italic
        // margin-top 1em
      article
        max-width 900px
        margin auto
        .date
          margin-top -86px
          padding 1em
          background-color yellow
          margin-bottom 1.5em
          max-width 15em
          margin-left -2em
          text-align center
          color #fff
          font-weight 900
          text-shadow 10px 10px 25px rgba(0,0,0,0.15)
        header
          h1
            font-weight 900
            color grey
            display inline-block
            padding-bottom 16px
            border-bottom 7px solid yellow
            margin-top 0
            margin-bottom 1em
.share
  display flex
  justify-content flex-end
  .handle
    text-transform uppercase
    font-weight 900
    border-right 1px solid grey
    padding .1em 1em
    color grey
  .links
    padding .1em .5em
    display flex
    .facebook
      background facebook
    .whatsapp
      background whatsapp
    .twitter
      background twitter
    a
      text-decoration none !important
      display block
      padding .2em .5em
      margin-left .6em
      border-radius 3px
      color white !important
  &.foot
    margin-top 1em
    width 100%