 .cases 
  position relative
  overflow hidden
  .container
    position relative
    h1.title
      big-letters(5em)
      position absolute
      right 0
      top .3em
      text-align right
      z-index 2
      text-shadow 10px 10px 35px rgba(0,0,0,.7)
  .cases-page
    padding 0
    transition all .3s
    position relative
    .intro
      padding 0
      position relative
      background-position center center
      background-size cover
      background-repeat no-repeat
      z-index 0
      min-height 60vh
      overflow hidden
      transition all .3s cubic-bezier(0.46, .17, .09, 1)
      @media screen and (max-width: $screen-sm-min)      
        min-height 40vh
      img
        max-width 100%
    .details
      margin-top -5.25em
      z-index 2
      position relative
      margin-bottom 6em
      transition all .3s
      br
        margin-bottom 1em
        display block !important
        content: " ";
      .controls
        display none
        position absolute
        top 0
        left 0
        right 0
        .left
        .right
          position absolute
          top -20vh
          transition all .3s
          width 30px
          transition-delay .3s
        .left
          left 0
        .right
          right 0
        img
          width 30px
        @media screen and (max-width: $screen-sm-min)
          display block
      .header
        display flex
        background transparent
        width 100%
        .title
          font-size 2.5em
          text-transform uppercase
          color #fff
          background-color rgba(0,0,0,.8)
          display block
          min-width calc(40% + 50px)
          margin 0
          font-weight 300
          padding .5em 1.5em
          padding-left 32px
          padding-right calc(1.5em + 50px)
        .next,
        .prev
          width 50px
          background-color yellow
          display flex
          flex-flow column
          justify-content center
          text-align center
          cursor pointer
        .prev
          color yellow
          background-color rgba(229, 173, 16, .2)
          margin-left -50px
        .next
          color grey
      .wrapper
        box-shadow 15px 15px 20px rgba(0,0,0,0.4)
        background white-gradient
        overflow visible
        position relative
        transition all .4s cubic-bezier(.16,.62,.35,.99)
        z-index 2
        a
          color #000
          font-weight 600
          text-decoration underline
        ul
          list-style disc
          padding-left 1em
          font-style italic
          // margin-top 1em
        @media screen and (max-width: $screen-sm-min)
          max-width 80vw
          margin auto
          padding 2em
          max-height 400px
          overflow-y scroll
        @media screen and (max-width: $screen-xs-min)
          max-width 90%
        .results
          background white-gradient
          display flex
          flex-flow column
          padding 0
          a
            display block
            width 100%
            text-align center
            background grey-gradient
            padding 1em
            color black
            text-transform uppercase
            font-weight 900
            text-decoration underline
            margin-bottom 0
          img
            width 100% !important
          .data
            align-self center
            display flex
            flex-flow column
            justify-content center
            width 100%
            height 100%
            text-align center
            .big
              font-weight 900
              font-size 5em
              margin-bottom 0
              padding 0
              line-height .9
            .small
              font-weight 900
              font-size 1.5em
              border-bottom 5px solid yellow
              text-transform uppercase
              margin 0
              span
                font-weight 300
        .title
          font-weight bold
          text-transform uppercase
          color grey
          margin 0
          margin-bottom .5em
        .subtitle
          font-weight bold
          text-transform uppercase
          font-size 1.5em
          color grey
          margin 0
          margin-bottom .5em
          padding 32px 32px 16px
          @media screen and (max-width: $screen-xs-min)
            padding 0
            font-size 1.3em
          // &:after
          //   position absolute
          //   height 40px
          //   width 100%
          //   background linear-gradient(180deg, rgba(0,0,0,0) 0%, #fff 100%)
          //   content ''
          //   left 0
          //   right 0
          //   bottom 0
        .body
          transition all .4s cubic-bezier(0.46, .17, .09, 1)
          padding 2em
          padding-top 0
          opacity 1
          @media screen and (max-width: $screen-sm-min)
            padding 0
          p
            column-count 2
            column-gap 1.5em
            line-height 2em
            @media screen and (max-width: $screen-sm-min)
              column-count 1
              line-height 1.7em
      .cta
        display block
        position relative
        width 100%
        margin-top .25em
        height 46px
        padding 1em
        @media screen and (max-width: $screen-sm-min)        
          margin-top 1em
          justify-content center
        .button
          background-image url('/images/arrow.svg')
          background-repeat no-repeat
          background-position center center 
          background-size contain
          color black
          font-size 1em
          padding .75em 1em
          cursor pointer
          text-transform uppercase
          font-weight 900
          position absolute 
          right -5px
        &:hover
          &:after
            transform translateX(3px)
        &:after
          content ''
          background-image url('/images/arrow-head.svg')
          background-repeat no-repeat
          background-position center center 
          background-size contain
          height 44px
          width 18px
          transform translateX(-2px)
          transition all .3s
          right -22px
          position absolute
  .ng-enter
    display block 
    opacity 1
    .intro
      opacity 1
      tranform translateY(-100%)
    .controls
      .left
        transform translateX(-100%)
      .right
        transform translateX(100%)
    .wrapper
      transform translateY(100%)
      @media screen and (max-width: $screen-sm-min)
        opacity 0
  .ng-enter-active
    display block
    position relative
    .controls
      .left
        transform translateX(0)
      .right
        transform translateX(0)
    .intro
      opacity 1
      tranform translateY(0)
    .wrapper
      transform translateY(0)
      opacity 1
  .ng-leave
    opacity 1
    display block
    position absolute
    left 0
    right 0
    top 0
    .intro
      opacity 1
    .details
      .wrapper
        opacity 1
  .ng-leave-active
    display block
    opacity 0
    .intro
      opacity 0
    .details
      .wrapper
        opacity 0
