.concept
  display block
  &.fixed
    max-height 100vh
    overflow hidden
  .title-section
    text-align center
    background #151515
    background-image url(/images/concept/city.jpg)
    background-position center center
    background-size cover
    width 100%
    padding 32px 0 16px
    min-height 250px
    display flex
    justify-content flex-end
    @media screen and (max-width: $screen-md-min) 
      background-image url(/images/concept/city-small.png)
      font-size 3em
      min-height 150px
      padding-top 3em
    h1
      text-align right
      max-width 90vw
      big-letters(5em)
      color #fff
      line-height 1em
      display flex
      justify-content center
      flex-flow column
      margin-right 5%
      @media screen and (max-width: $screen-lg-min) 
        font-size 48px
        max-width 100%
        padding 5px
      @media screen and (max-width: $screen-md-min) 
        font-size 40px
        margin auto
      .highlight
        color yellow
      .light
        font-size 1em
        font-weight 100 
  .container-fluid
    width 100%
    padding 0
    &.main
      background #030303
      color white
      padding 3% 0
      text-align left
      font-size 1.3em
      p
        margin 0
      span
        font-weight 900
        text-transform uppercase
        font-style italic
        &.highlight
          color yellow 
          font-style initial
      @media screen and (max-width: $screen-lg-min) 
        padding 2em 0
      h2
        big-letters(1.3em)
        text-align center
        font-style initial
        margin auto
        padding-bottom 16px
        margin-bottom 16px
        display inline-block
        border-bottom 4px solid yellow
    &.introduction
      background ion
      color white
      padding 3% 0
      text-align left
      font-size 1em
      span
        font-weight 900
        text-transform uppercase
        font-style italic
        &.highlight
          color yellow 
          font-style initial
      @media screen and (max-width: $screen-lg-min) 
        padding 2em 0
      h2
        font-size 1.3em 
        text-align left
        font-style italic
        margin auto
        padding-bottom 16px
        margin-bottom 10px
        display block
        font-weight 400
        text-transform uppercase
        position relative
        &.underline
          &:before
          &:after
            content:""
            display block
            width 100%
            position absolute
            left 0%
            height 1px
            background yellow
            bottom 15px
            @media screen and (max-width: $screen-md-min)
              display none
          &:after
            background ion
            width 15em
        span 
          color yellow
      p
        display block
        font-size 1em
        margin-bottom 1.5em
        &:last-child
          margin-bottom 0
        span
          text-decoration underline
          text-decoration-color yellow 
          text-underline-position under
    &.results
      .photo
        background-position center top
        background-size cover
        background-repeat no-repeat
        padding 0
        @media screen and (max-width: $screen-md-min)
          background-image none
        img
          width 100%
          height auto
          display none
          @media screen and (max-width: $screen-md-min)
            display block
      .text
        min-height 45vh
        text-align left
        color black
        background-color #fff
        padding 3% 5%
        .fixed-size
          max-width 508px
          margin auto
        @media screen and (max-width: $screen-lg-min)
          padding 1em 2em
        h3 
          big-letters(1.3em, black)
          display inline-block
          border-bottom 2px solid yellow
          padding-bottom 16px
          margin-bottom 32px
          font-style initial
          text-transform uppercase
          span 
            font-weight 100
            color black
        p
          margin-bottom 2em
          span
            font-weight 700
            font-style italic
            text-transform uppercase
            text-decoration underline
            text-decoration-color yellow 
            text-underline-position under
            &.ion
              font-weight 700
              font-style italic
              color yellow
              text-transform uppercase
              text-decoration none
        .spotlight
          font-size 1.3em
          padding-bottom 0
          position relative
          @media screen and (max-width: $screen-md-min)
            padding-bottom 3em
          span
            font-weight 700
            font-style italic
            text-transform uppercase
            text-decoration underline
            text-decoration-color yellow 
            text-underline-position under
            color yellow
          .zoom
            display inline-block
            color yellow 
            font-weight 800
            font-size 3em
            vertical-align top
            padding-left 5px
            line-height 1em
            position relative
            z-index 1
            background white
            font-style italic
            margin-top 1px
            @media screen and (max-width: $screen-md-min)
              position absolute
              bottom 0px
              right 0
          &:before
          &:after
            display block
            content ""
            background-color #f2f2f2
            height 3px
            position absolute
            bottom 1.2em
            width 80%
          &:after
            bottom .4em
        br
          border 1px solid yellow
          margin 2em 0
          display block
          content ""
        .link
          color white
          border 2px solid yellow 
          padding .7em 1.5em
          background-color transparent
          transition all .3s
          text-transform uppercase
          margin-top 2em
          margin-bottom 1em
          display inline-block
          &:hover
            color darker-gray
            background-color yellow
        &.wrap-up
          font-size 1em
          text-align left
          background-color #343334
          padding-bottom 0
          overflow hidden
          padding-top 2em
          padding-bottom 0
          p
            margin-bottom 2em
            color white  
            &:last-child
              margin-bottom 0     
          img
            margin-left -11%
            margin-right -11%
            max-width 125%
            margin-top 2em
          @media screen and (max-width: $screen-lg-min)
            font-size 1em
          h3
            big-letters(1.5em, white)
            font-style initial
            line-height 1.5em
            margin-top 0
            @media screen and (max-width: $screen-lg-min)
              font-size 1.4em
        &.questionaire
          background #151515
          color #fff
          padding 2em 1em
          .questionaire-wrapper
            width 80%
            margin auto
            @media screen and (max-width: $screen-md-min)
              width 100%
              padding 0 1em

          h3
            big-letters(1.7em)
            width 100%
            text-align left
            margin-top 0
            span
              color white
              font-weight 600
          p
            font-size 1.3em
            text-align left
            text-transform uppercase
            font-weight 400
            margin-bottom 2em
            span
              font-weight 900
          .form-control
            background-color transparent
            border-radius 0
            border solid transparent
            margin-bottom 1em
            height auto
            padding 0
            input
            textarea
              border 2px solid transparent
              border-bottom 2px solid yellow
              width 100%
              background-color transparent
              font-size 1em
              padding 5px 16px
              color #fff
              &::placeholder
                color #f0f0f0
                opacity 1
              &:focus
                outline none
            textarea
              border 2px solid yellow
              margin-top 1em
            &.submit-button
              text-align left
            .submit
              width auto
              border 2px solid yellow 
              text-transform uppercase
              color #fff
              margin-right auto
              padding 7px 32px
        @media screen and (max-width: $screen-lg-min) 
          min-height 30vh
