.contact-page
  position relative
  z-index 1
  .title
    big-letters(4em)
    text-align right
    margin-top 1em
    margin-bottom .5em
  .container
    max-width 800px
    margin-bottom 10em
    @media screen and (max-width: $screen-sm-min)
      margin-bottom 2em
    .form-group
      position relative 
      padding .5em 1em
      margin 0
      @media screen and (max-width: $screen-sm-min)
        width 100%
      label
        color white
        font-weight 300
        font-size 1.3em
        position absolute
        margin-left 1em
        top .5em
        z-index 0
        transition all .3s
      input
        background transparent
        border 1px solid transparent
        border-bottom 1px solid yellow
        color white
        position relative
        z-index 1
        border-radius 0
        padding .5em 1em
        font-size 1em
        padding-bottom 1em
        height 40px
        &:focus
          outline none 
          border 1px solid transparent
          border-bottom 1px solid yellow
          box-shadow none
          &+label
            transform scale3d(.5,.5,1) translateY(-1em)
            transform-origin left top
        &.ng-not-empty
          &:not(:focus)+label
            opacity 0
      textarea
        background transparent
        border 1px solid yellow
        color white
        position relative
        z-index 1
        border-radius 0
        padding .5em 1em
        font-size 1em
        padding-bottom 1em
        margin-top 1em
        &:focus
          outline none 
          border 1px solid yellow
          box-shadow none
          &+label
            transform scale3d(.5,.5,1)
            transform-origin left top
            opacity 0
        &+label
          top 1.5em
          bottom initial
        &.ng-not-empty ~ label
          opacity 0
      .wrapper
        background transparent
        border 1px solid transparent
        border-bottom 1px solid yellow
        color white
        position relative
        z-index 2
        font-size 1em
        border-radius 0
        padding-right 1.7em
        padding-bottom .3em
        .fa
          position absolute
          z-index 0
          top 0
          bottom 0
          right 1em
          margin auto
          height 25px
          color yellow
        select
          z-index 1
          opacity 0
          width 100%
          min-height 40px
          height 100%
          position absolute
        label
          position relative
          min-height 33.5px
          margin-bottom 0
          top 0
      .select
        background #fff
        position absolute
        z-index 2
        top 100%
        width 100%
        transition all .3s
        height 0
        overflow hidden
        cursor pointer
        .option
          border 1px solid #fff
          border-bottom 1px solid yellow
          padding .5em 1em
          color black
          transition all .3s
          &.active
            background-color #e0e0e0
            font-weight bold
        &.active
          opacity 1
          height 10em
          @media screen and (max-width: $screen-sm-min)
            height 11.4em
    .btn
      color black 
      background yellow
      border-radius 0
      border none
      text-transform uppercase
      letter-spacing 2px
      font-weight 600
      margin-top 1em
      padding .3em 1.5em
      font-size 1.3em