.footer
  display flex
  background-color black
  width 100%
  z-index 98
  position relative
  a
    &:focus,
    &:visited
      color unset
      text-decoration none
  .logo
    width 235px
    height 300px
    background-color yellow 
    display flex
    flex-flow column
    justify-content center
    text-align center
    align-items center
    @media screen and (max-width: $screen-sm-min)
      height 80px
      width 80px
    img
      width 110px
      text-align center
      @media screen and (max-width: $screen-sm-min)
        width 50px
  .list-wrapper
    display flex
    flex-flow column 
    justify-content center
    margin 0
    width 100%
    @media screen and (max-width: $screen-sm-min)
      margin 0
      width 100%
      flex-flow row
    .row
      @media screen and (max-width: $screen-sm-min)
        justify-content space-around !important
        width 100%
    .list
      font-size .85em
      align-self flex-start
      @media screen and (max-width: $screen-sm-min)
        margin 0
        padding 0
        flex-flow column 
        justify-content center
        display flex
        height 100%
        text-align center
      .item
        color grey
        padding .3em
        text-align left
        &.head
          color white
          @media screen and (max-width: $screen-sm-min)
            padding 0
            margin 0
            text-align center
    .full-logo
      display flex
      flex-flow column 
      justify-content center
      img
        width 16em
        max-width 100%