.intro
  min-height 70vh
  background-color #191919
  // background-image linear-gradient(113deg, #414042 0%, #000000 71%)
  margin-top -76px
  @media screen and (max-width: $screen-sm-min)
    padding-top 3em 
  #graph
    display flex
    flex-flow column
    justify-content center
    height 90% 
    margin 7% 17% -5% 0
  .row
    &:before
      display none
  @media screen and (max-width: $screen-sm-min)  
    margin-top 0
    height auto
    min-height auto
  .graph
    display block
    width 100%
    height auto
    padding 5em 2em
    max-width 600px
    margin auto
  #ion
    margin-top 10vh
    @media screen and (max-width: $screen-sm-min)  
      margin-top 0
      transform scale3d(1.2,1.2,1)
.divided
  .row
    &:before
      display none
  .white
    background-color white
    color grey
  .black
    color #fff
    background-size cover
    background-repeat no-repeat
    background-position center center
    // &.gradient
    //   background gradient
  .wrapper
    width 80%
    max-width 500px
    height auto
    padding 5em 3em
    margin auto
    @media screen and (max-width: $screen-sm-min)
      padding 3em 1em
    .title
      font-size 2em
      line-height 1.2em
      text-transform uppercase
      margin-bottom 1em
    .parragraph
      line-height 1.5em
.gallery
  background-color #414042
  background-image linear-gradient(300deg, #414042 0%, #000000 49%)
  margin-bottom -62px
  .title
    big-letters(6em)
    text-align right
    transition all .3s
    @media screen and (max-width: $screen-sm-min)
      big-letters(3em)
      text-align center
      width 100%
      display block
      margin-bottom .5em
  .carousel
    padding-bottom 12em
    @media screen and (max-width: $screen-sm-min)
      padding-bottom 5em
    .carousel-inner
      overflow visible
    .control
      opacity .7
      transition opacity .3s
      &.left
        left 0
        i
          background-image url('/images/gallery-left.svg')
          background-position center center
          background-repeat no-repeat
          background-size 20px 20px
      &.right
        right initial
        i
          background-image url('/images/gallery-right.svg')
          background-position center center
          background-repeat no-repeat
          background-size 20px 20px
        left 54%
      &:hover
        opacity 1
        transition opacity .3s
        i
          background-color rgba(0,0,0,1)
          transition background-color .3s
      i
        size(50px,50px)
        background-color rgba(0,0,0,1)
        border-radius 100%
        position relative
        margin-bottom 5em
        transition background-color .3s
      @media screen and (max-width: $screen-sm-min)
        display none
    .carousel-item
      img
        width 70%
        max-height 80vh
        @media screen and (max-width: $screen-sm-min)        
          width 100%
      .carousel-caption
        position absolute 
        left 66% 
        right initial
        top 0
        bottom 0
        margin auto
        display flex
        flex-flow column
        justify-content center 
        margin-bottom 4em
        max-width 390px
        @media screen and (max-width: $screen-sm-min)
          position relative
          max-width none
          left 0
          flex-flow row
          justify-content flex-end
          .title
            display none
            transition all .3s
        .wrapper
          display block
          background-color #f3f3f3
          color grey
          text-align left
          padding 3em
          max-width 310px
          align-items flex-end
          box-shadow 14px 14px 10px rgba(0,0,0,0.4)
          @media screen and (max-width: $screen-sm-min)
            padding 2em
            margin-top -5em
          .subtitle
            font-size 2em
            font-weight 400 
            text-transform uppercase
            margin-bottom 16px
          .preface
            font-size 1em
            font-weight 400
            text-transform uppercase
            margin-bottom 16px
          p
            font-size .9em
            line-height 1.5em
.services
  .title
    big-letters(6em)
    padding-left 2em
    margin-bottom -.25em
    position relative
    z-index 1
    @media screen and (max-width: $screen-sm-min)
      padding-left 0
      font-size 3em
      display block
      width 100%
      text-align center
  .service
    padding 0
    img 
      max-width 100%
    &:hover
      .head,
      .body,
      .cta
        transform translateY(-15px)
      .cta
        opacity 1 !important
    .description 
      padding 4em 4em 6em
      position relative
      height auto
      @media screen and (max-width: $screen-sm-min)
        padding 3em 2em 3em
      &.white
        background-color #ffffff
        background white-gradient
        color black-font
      &.black
        background-color rgba(0,0,0,.5)
        color #fff
      .wrapper
        max-width 400px
        margin auto
        .head
          font-size 1.5em
          font-weight 900
          text-transform uppercase
          transition all .3s
        .body
          transition all .3s
          line-height 2em
        .cta
          background-color yellow 
          padding .5em 1em
          color white
          font-weight 900
          text-transform uppercase
          display inline-block
          opacity 0
          transition all .3s
        ul
          list-style disc
          margin-left 2em
          // @media screen and (max-width: $screen-sm-min)          
          //   margin-left 0
          //   padding-left 1em
          li
            margin-bottom 1em
            font-weight bold
            text-transform uppercase
      .no
        position absolute
        bottom 24px
        right 24px
        font-size 5em
        font-weight 200
        color #58595b
        opacity .5
        text-shadow 10px 10px 15px rgba(0,0,0,.5)
        @media screen and (max-width: $screen-sm-min)        
          bottom initial
          top -1.5em
          font-weight 300
          font-size 3em
.testimonials
  .wrapper
    background-position center center
    background-size cover
    background-repeat no-repeat
    padding 0
    display flex
    .testimonial
      background-color rgba(0,0,0,0.7)
      padding 5em 
      @media screen and (max-width: $screen-sm-min)
        padding 3em
      .title 
        margin-left 5vw
        big-letters(6em, #fff)
        @media screen and (max-width: $screen-sm-min)
          margin-left 0
          font-size 2.5em
      .body
        color #fff
        line-height 2em
        font-size 1em
        max-width 500px
        margin 2em auto
        @media screen and (max-width: $screen-sm-min)
          line-height 1.5em
      .who
        display block
        font-size 2.5em
        color #fff
        font-style italic
        font-weight 900
        text-align right
        @media screen and (max-width: $screen-sm-min)
          font-size 1.5em