html
	overflow-x: hidden
body
	background-color #414042
	background gradient
	min-height 100vh
	font-size font-size
	font-family lato
	overflow-x hidden
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	a
		cursor pointer
		color unset
		&:hover
			color unset
			text-decoration none
	.white
		color #fff
	ul
		list-style circle
		&.no-list
		&.list
			list-style none
	.light
		font-weight 300
	.boldest
		font-weight 900
	.bold
		font-weight 600
	.line
		padding-bottom 5px
		border-bottom 10px solid yellow
	.accent
		color yellow
		display inline
	.row
		&:before
			display none
	.body
		overflow visible
	&.home
		background-color #414042
		background-image linear-gradient(113deg, #414042 0%, #000 71%)
		overflow-x hidden
	&.contact
		&:before
		&:after
			content ''
			z-index 0
			position fixed
			top 0
			bottom 0
			left 0
			right 0
		&:before
			background linear-gradient(90deg, #414042 0%, #000 100%)
		&:after
			background-image url('/images/contact.svg')
			background-size cover
			background-repeat no-repeat
			background-position center center
			@media screen and (max-width: $screen-sm-min)
				background-image url('/images/contact-mobile.svg')
