logo(size)
  color yellow
  font-weight bolder
  font-size size
  letter-spacing 3px
big-letters(size, color=yellow)
  color color 
  font-size size
  text-transform uppercase
  font-weight 900
  line-height .9em
  font-style italic
  text-shadow 10px 10px 25px rgba(0,0,0,0.15)