.header
  position relative
  z-index 99
  &.transparent
    background transparent !important
  &.desktop
    background gradient
    .nav
      display flex
      padding 1em
      .logo
        cursor pointer    
        img 
          height 2.3em
      .menu
        margin 0
        margin-left 30%
        .item
          color white
          text-transform uppercase
          padding 0 1em
          font-weight 300
          font-size .8em
          letter-spacing 2.5px
          cursor pointer
          overflow-y visible
          .inner
            position relative 
            padding 1em 0
            padding-bottom 1em
            overflow-x hidden
            display block
            &:focus
              color unset
              text-decoration none
            &:before,
            &:after
              height 2px
              background yellow
              position absolute
              content ""
              transition transform .3s
              transform translateX(110%)
            &:before
              bottom 5px
              left 0
              right 0
              width 100%
            &:after
              bottom 0
              right 0
              width 33%
            &.active,
            &:hover
              &:before
                transition transform .3s
                transform translateX(0%)
              &:after
                transition transform .3s
                transition-delay .2s
                transform translateX(0%)
    &.home
      background-color rgba(0,0,0,0)
.header.mobile
  padding 1em 1em
  height 3.5em
  position fixed
  left 0
  right 0
  background rgba(0,0,0,0.6) !important
  .logo
    position absolute
    right 1em
    top 1em
    img
      width 55px
  .burger
    display block
    position fixed
    z-index 99
    height 35px
    width 35px
    transform rotate(0deg)
    transition .5s ease-in-out
    top .7em
    left 1em
    span
      width 35px
      height 3px
      margin-bottom 7px
      border-radius 10px
      background yellow
      display block
      transition all .3s
      transition-delay .15s
      left 0
      transform rotate(0deg)
      transition .25s ease-in-out
      position absolute
      &:nth-child(1)
          top 5px
      &:nth-child(2)
          top 15px
      &:nth-child(3)
          top 25px
    &.active
      span
        background #000
        transition all .3s
        transition-delay .15s
        &:nth-child(1)
          top 12px
          left 0
          transform rotate(135deg)
        &:nth-child(2)
          opacity 0
          left -60px
        &:nth-child(3)
          top 12px
          left 0
          transform rotate(-135deg)
  .menu
    position fixed
    height 100vh
    width 82vw
    top 0
    left 0
    z-index 98
    background yellow
    transform translateX(calc(-100% + -21px))
    box-shadow 0 0 0 0 rgba(0,0,0,0.25)
    transition .4s all cubic-bezier(.71,-0.23,.48,.97)
    &.active
      box-shadow 20px 0 0 0 rgba(0,0,0,0.25)
      transform translateX(-2vw)
      transition .6s all cubic-bezier(.16,.62,.35,.99)
      .item
        opacity 1 !important
        transform translateX(0)!important
    .wrapper
      position relative
      top 0
      bottom 0
      left 2vw
      right 0
      height 100%
      width calc(100% - 2vw)
      .header
        margin-bottom 5vh
        .home
          display flex
          flex-flow column
          justify-content center
          background-color black
          width 3em
          text-align center 
          height 2em
          vertical-align middle
          margin auto
          logo(1.5em)
      .options
        padding 3em
        .item
          padding .5em 0
          text-transform uppercase
          font-weight 400
          letter-spacing 3px
          font-size 1.5em
          text-align center
          border-bottom 1px solid black
          transition all .3s cubic-bezier(.16,.62,.35,.99)
          transform translateX(-100%)
          opacity 0
          &:nth-child(1)
            transition-delay .2s
          &:nth-child(2)
            transition-delay .3s
          &:nth-child(3)
            transition-delay .4s
          &:nth-child(4)
            transition-delay .5s
          &:last-child
            border-bottom 1px solid yellow