.services-page
  .column
    padding 0
  .selector
    background gradient
    padding 2.5em
    display flex
    flex-flow column
    justify-content center
    text-align right
    .title
      big-letters(5em, white)
    .coverflow
      list-style none
      font-size 1em
      text-transform uppercase
      text-align right
      .item
        color #58595b
        transition all .3s
        a
          display block
          margin .5em 0
          cursor pointer
          color inherit
          transition all .3s
          &:focus
            color unset 
            text-decoration none
          &:hover,
          &.active
            color yellow
            transition all .3s
            transform scale3d(1.1, 1.1, 1)
        .break
          margin-left 1em
          margin-right 1em
        .index 
          font-size 2.5em
          vertical-align middle
          color inherit
          display inline-block
  .service
    overflow scroll
    background white-gradient
    height calc(100vh - 80px)
    @media screen and (max-width: $screen-sm-min)
      background transparent
      height auto
    img
      width 100%
      transition all .5s cubic-bezier(0.46, .17, .09, 1)
      // transition-delay  .5s
    .detail
      // transition-delay  .5s
      background white-gradient
      color black-font
      padding 3em
      transition all .5s cubic-bezier(0.46, .17, .09, 1)
      position relative
      @media screen and (max-width: $screen-sm-min)
        background transparent
        color #fff
      .controls
        display none
        position absolute
        top 0
        left 0
        right 0
        .left
        .right
          position absolute
          top -4em
          transition all .3s
          width 30px
          transition-delay .5s
        .left
          left 0
        .right
          right 0
        img
          width 30px
        @media screen and (max-width: $screen-sm-min)
          display block
      .header
        display flex
        justify-content flex-start
        z-index 1
        .title
          font-size 1.5em
          text-transform uppercase
          font-weight 900
          margin-top 0
          margin-bottom 1.5em
          margin-right 2em
        .cta
          display inline-block
          background-color yellow 
          color white
          text-shadow 5px 5px 10px rgba(0,0,0,.3)
          height 2em
          padding .3em 1em
          font-weight 900
          text-transform uppercase
          border-radius 7px
          box-shadow 5px 5px 10px rgba(0,0,0,.2)
          cursor pointer
          @media screen and (max-width: $screen-sm-min)
            display none
      .body
        column-count 3
        column-gap 2em
        line-height 2em
        @media screen and (max-width: $screen-sm-min)
          line-height 1.7em
          column-count 1
        ul
          list-style disc
          margin-top 1em
    &.ng-enter
      // opacity 0
      img
        opacity 0
        transform translateY(-100%)
      .detail
        transform translateY(100%)
        .controls
          .left
            transform translateX(-100%)
          .right
            transform translateX(100%)
    &.ng-enter-active
      img 
        transform translateY(0%)
        opacity 1
      .detail
        transform translateY(0)
        .controls
          .left
          .right
            transform translateX(0)