
.pop-up
  display none
  &.active
    display block
    position fixed
    width 100%
    height 100%
    top 0
    bottom 0
    left 0
    right 0
    background rgba(0,0,0,0.75)
    z-index 99
    overflow scroll
    .team-member
      width 70%
      max-width 40em
      margin auto
      min-height 70%
      top 0
      bottom 0
      padding-top 10vh
      padding-bottom 10vh
      position relative
      #close
        position absolute
        left 100%
        font-size 3em
        vertical-align middle
        background yellow 
        border-radius 3px
        top 10vh
        height 1em
        font-weight 300
        line-height 1em
        vertical-align top
        padding 0 .25em
        margin-left 5px
        cursor pointer
        transition all .3s
        &:hover
          color yellow
          background #222
      #image
        min-height 30em
        background-position center top
        background-repeat no-repeat
        background-size cover
      .career
        display block
        position relative
        #name
          position absolute
          top -5em
          big-letters(1.3em)
          padding .5em 
          background-color #222
          span 
            font-weight 300
            color white
        #text
          display block
          background-color #222
          color #fff
          padding 2em 3em
.team
  display block
  &.fixed
    max-height 100vh
    overflow hidden
  .title-section
    text-align center
    background #151515
    background-image url(/images/team/ConferenceHall.png)
    background-position center bottom
    background-size cover
    width 100%
    padding 32px 0 16px
    min-height 250px
    display flex
    justify-content flex-end
    @media screen and (max-width: $screen-lg-min) 
      font-size 3em
      min-height 150px
      padding-top 3em
    h1
      text-align right
      max-width 90vw
      big-letters(5em)
      color #fff
      line-height 1em
      display flex
      justify-content center
      flex-flow column
      margin-right 5%
      @media screen and (max-width: $screen-lg-min) 
        font-size 48px
        max-width 100%
        padding 5px
      @media screen and (max-width: $screen-md-min) 
        font-size 40px
        margin auto
      .highlight
        color yellow
      .light
        font-size 1em
        font-weight 100 
  .container-fluid
    width 100%
    padding 0
    &.main
      background #343334
      color white
      padding 3% 0
      text-align left
      p
        &:last-child
          margin 0
      @media screen and (max-width: $screen-lg-min) 
        padding 2em 0
      h2
        big-letters(1.3em)
        text-align center
        font-style initial
        margin auto
        padding-bottom 16px
        margin-bottom 16px
        display inline-block
        border-bottom 4px solid yellow
      h3
        big-letters(1.3em)
        text-align center
        font-style initial
        margin auto
        padding-bottom 16px
        margin-bottom 16px
        display inline-block
        border-bottom 4px solid yellow
    &.team-players
      .flex-row
        display flex
        justify-content center
        flex-wrap wrap
        .profile
          background #151515
          color white
          text-align center
          max-width 20%
          @media screen and (max-width: $screen-md-min)
            max-width 50%
            width 50%
          img 
            max-width 100%
          .description
            display flex
            flex-flow column 
            justify-content center
            min-height 15em
            border-top 1px solid #333
            border-bottom 1px solid #333
            border-right 1px solid #333
            .name
              text-transform uppercase
              font-size 1.2em
              font-weight 600
            .location
              text-transform uppercase
              font-size 1.2em
              font-weight 600
              color yellow
              margin-bottom .7em
          &:first-child
            .description
              border-left 1px solid #333
      .photo
        background-position center top
        background-size cover
        background-repeat no-repeat
        @media screen and (max-width: $screen-lg-min)
          min-height 30vh
      .text
        min-height 45vh
        text-align center
        color white
        background-color #222222
        padding 3% 5%
        @media screen and (max-width: $screen-lg-min)
          padding 1em 2em
        h3 
          big-letters(1.3em)
          display inline-block
          border-bottom 2px solid yellow
          padding-bottom 16px
          margin-bottom 16px
          text-transform uppercase
          span 
            font-weight 100
            color white
        h4 
          font-size 1em
          color yellow
          font-weight 600
          padding-bottom 16px
          margin-bottom 16px
          text-transform uppercase
        p
          margin-bottom 2em
          &.hide
            display block !important
            height 0
            opacity 0
            transition all .3s
        .link
          color white
          border 2px solid yellow 
          padding .7em 1.5em
          background-color transparent
          transition all .3s
          text-transform uppercase
          margin-top 2em
          margin-bottom 1em
          display inline-block
          &:hover
            color darker-gray
            background-color yellow
        &.wrap-up
          font-size 1em
          text-align left
          background-color #343334
          padding-bottom 0
          overflow hidden
          p
            margin-bottom 3em
            @media screen and (max-width: $screen-lg-min)
              text-align center              
          img
            margin-left -11%
            margin-right -11%
            max-width 125%
          @media screen and (max-width: $screen-lg-min)
            font-size 1em
          h3
            big-letters(1.5em)
            font-style initial
            @media screen and (max-width: $screen-lg-min)
              font-size 1.4em
        &.questionaire
          background #151515
          .questionaire-wrapper
            width 80%
            margin auto
          h3
            big-letters(1.7em)
            width 100%
            text-align left
            span
              color white
              font-weight 600
          p
            font-size 1.3em
            text-align left
            text-transform uppercase
            font-weight 400
            margin-bottom 2em
            span
              font-weight 900
          .form-control
            background-color transparent
            border-radius 0
            border solid transparent
            margin-bottom 1em
            height auto
            padding 0
            input
            textarea
              border 2px solid transparent
              border-bottom 2px solid yellow
              width 100%
              background-color transparent
              font-size 1em
              padding 5px 16px
              &:focus
                outline none
            textarea
              border 2px solid yellow
              margin-top 1em
            &.submit-button
              text-align left
            .submit
              width auto
              border 2px solid yellow 
              text-transform uppercase
              color #fff
              margin-right auto
              padding 7px 32px
        @media screen and (max-width: $screen-lg-min) 
          min-height 30vh
