// Override Bootstrap variables in this file, e.g.

font-size = 16px
lato = 'Lato', sans-serif

gradient = linear-gradient(90deg, #414042 0%, #000000 100%);
inverted-gradient = linear-gradient(90deg, #000 0%, #414042 100%);
white-gradient = linear-gradient(90deg, #fff 0%, #e1e4e5 100%)
white-gradient = linear-gradient(90deg, #e1e4e5 0%, #fff 100%)
grey-gradient = linear-gradient(90deg, #fff 0%, #a1a4a5 100%)

facebook = #3B5998
twitter = #00aced
whatsapp = #128c7e

white = #fff
yellow = #e5ad10
black = #030303
grey = #58595b
gray = #58595b
ion = #343434
clear-gray = #eaeaea
clear-grey = #eaeaea
darker-grey = #272727
darker-gray = #272727
black-font = #231f20