extends ../layouts/default

include ../mixins/post

block variables
	- var body = "about"

block content
	.container-fluid
		.gallery
			img.photo(src="http://via.placeholder.com/460x460")
			img.photo(src="http://via.placeholder.com/460x460")
			img.photo(src="http://via.placeholder.com/460x460")
			img.photo(src="http://via.placeholder.com/460x460")
			img.photo(src="http://via.placeholder.com/460x460")
			img.photo(src="http://via.placeholder.com/460x460")
			img.photo(src="http://via.placeholder.com/460x460")
			img.photo(src="http://via.placeholder.com/460x460")
	.container-fluid.main
		.container
			.row
				.col-sm-12.col-md-12.title
					h1 About us
				.col-sm-12.col-md-12.keys
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Id venenatis a condimentum vitae sapien pellentesque habitant. Nunc sed id semper risus. Sed nisi lacus sed viverra tellus in.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Id venenatis a condimentum vitae sapien pellentesque habitant. Nunc sed id semper risus. Sed nisi lacus sed viverra tellus in.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Id venenatis a condimentum vitae sapien pellentesque habitant. Nunc sed id semper risus. Sed nisi lacus sed viverra tellus in.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Id venenatis a condimentum vitae sapien pellentesque habitant. Nunc sed id semper risus. Sed nisi lacus sed viverra tellus in.
	.container-fluid
		.container.brands
			- var brands = ['Aig', 'Bayer','Bpp','Cocacola','Dealchecker','Dice', 'Guidedogs','Ibis','Kimberly','Matches','Mcdonald','Nestle','Novotel','Oxfam','Pepsi','Pullman','Redletter','Russell','Sofitel','Sony','ulook',]
			.row: .col-12
				h2.title.line Previous Client<br>experience
			.row
				each brand in brands
					.col-xs-6.col-sm-4.col-md-3
						img(src=`/images/clients/${brand}.png`, alt=brand)
	.container-fluid.cases
		.container
			.row
				.col
					.title View our case studies
			.row
				a.col.case(href="/case-studies")
					.info
						.name ibis hotels
						.description Booking market share in mexico
					.img(style="background-image: url('https://res.cloudinary.com/drrgcbwl7/image/upload/v1518806216/ibis_bxme4b.jpg')")
			.row
				a.col.case.justify-content-end(href="/case-studies")
					.img(style="background-image: url('https://res.cloudinary.com/drrgcbwl7/image/upload/v1519402099/case-russell3_obxgfq.jpg')")
					.info
						.name Russell bedford
						.description Cost efficiency for a global accountancy firm
			.row
				a.col.case(href="/case-studies")
					.info
						.name AIG
						.description 90 days to drive ppc
					.img(style="background-image: url('https://res.cloudinary.com/drrgcbwl7/image/upload/v1519149510/case-aig2_bn8eam.jpg')")
block js
	script(src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js")
	script(src='//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js')
	script(src='/js/app/about.js')