extends ../layouts/default

include ../mixins/post

block variables
  - var body = "blog"
  - var sectionTitle = data.category ? data.category.name : "Latest Posts"
block prepend head
  link(src="/styles/owl.carousel.min.css")
  link(src="/styles/owl.theme.default.min.css")

block intro
  .container-fluid
    .row
      .title-section.col-12 
        h1 <span>The <span class="highlight">ION</span><br /><span class="underline">blog</span>
block content
  .container-fluid
    .row
      .col-xs-12.search
        form.container-fluid
          .row
            .col-sm-12.col-md-9
              .search-bar
                input.search-input(type="search" autocomplete="off" name="search" placeholder="Let's find what you are looking for...")
                i.fa.fa-search
                i.fa.fa-arrow-right
      .col-xs-12.col-sm-12.col-md-9.article-listing
        if data.posts.results
          .row.grid
            h2 !{sectionTitle}
            - var top;
            - var right;
            each post, index in data.posts.results
              if (index == 0)
                +post(post, index, "col-md-12")
              else
                +post(post, index, "col-md-6")
          if data.posts.totalPages > 1
            ul.pagination
              if data.posts.previous
                li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
              else
                li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
              each p, i in data.posts.pages
                li(class=data.posts.currentPage == p ? 'active' : null)
                  a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
              if data.posts.next
                li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
              else
                li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
        else
          if data.category
            .row.grid
              h2.text-muted There are no posts in the category #{data.category.name}.
          else
            .row.grid
              h2.text-muted There are no posts yet with that search term. 
      .col-xs-12.col-sm-12.col-md-3.side-bar
        .block.categories
          if data.categories.length
            h2 Categories
            .category-list
              each cat in data.categories
                a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).item
                  i.fa.fa-play
                  span.category-name=cat.name
                  //- span.count (#{cat.postCount})
        .block.tags
          h2 Popular Tags
          .tag-container
            each tag, index in data.tags
              a(href=`/blog/tags/${tag.key}`)=tag.name
        .block.posts.white
          h2 Popular Posts
          .row.grid.hidden-md-down
            each post, index in data.popularPosts
              +post(post, index, "col-md-12")
          .row.grid.owl-carousel.hidden-md-up
            each post, index in data.popularPosts
              .item
                +post(post, index, "col-md-12")
        .block.contact-us
          .wrapper
            span.we Want to see where you can grow your
            span.solution digital market share?
            a(href="/contact") Request a free audit
        .block.email
          h2 ION Email-signup
          p Subscribe to our monthly email for the latest digital marketing and audience insights
          form(action="/contact/")
            input.text(type="email", name="email", placeholder="your@email.com")
            input.submit(type="submit", value="SUBSCRIBE")
block append js
  script(src="/js/app//owl.carousel.min.js")
  script.
    $('.owl-carousel').owlCarousel({
        loop:true,
        items:1,
        margin:10,
        nav:true
    })
  