extends ../layouts/default

block variables
	- var ngApp = "cases"

block content
	#cases.cases
		.container
			h1.hidden-sm-down.title Case<br/> Studies
		ui-view.container-fluid.cases-page
		
block js
	script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js')
	script(src='//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js')
	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.9/angular-sanitize.min.js")
	script(src="/js/app/hammer.min.js")
	script(src='/js/app/cases.js')