extends ../layouts/default

block variables
  - var body = "concept"
  - var popUp = ""

block intro
  .container-fluid
    .row
      .title-section.col-12 
        h1 <span><span class="light">THE </span><span class="highlight">ION Concept</span>

block content
  .container-fluid.main
    .container
      .row
        .col-xs-12.col-md-12.keys
          p At <span class="highlight">ION</span>, we believe in the lost art of <span>optimisation</span>, as well as the underplayed hand of <span>creativity</span>. We find that brands are increasingly lacking the resources required to take advantage of every digital marketing channel and opportunity, meaning that many campaigns are started and optimised with limited care and professionalism.

  .container-fluid.introduction
    .container
      .row
        .col-xs-12.col-md-12.keys
          h2.underline Is this the fault of <span>the brand?</span>
          p Mostly no. We believe that an agency’s job is to advise the client on when resources should be implemented into new channels, as well as identifying their <span>optimal level of effectiveness.</span> Not just selling more marketing services, but identifying the best places for growth considering the budget available, and the objectives to be met. And this often means that there is <span>higher-ROI growth</span> within existing channels, i.e. more experienced resources are required where you are currently active before spreading more marketing thinly to new sparkly places.
          h2 <span>Digital is in the detail</span>, and your agency needs to be set up to understand the roi-benefit of this concept.
          p For example: is your SEO market share increasing at a faster rate than your competitors?; do you have small, targeted PPC ad groups with constant A/B testing and refined ad copy; and is your paid media reaching all segments of multicultural audiences, with personalised messaging?
  .container-fluid.results
    .row
      .col-xs-12.col-sm-12.col-md-6.photo(style="background-image:url(/images/concept/IdeaOfNow.jpg)")
        img(src="/images/concept/IdeaOfNow.jpg", alt="The idea of now")
      .col-xs-12.col-sm-12.col-md-6.text
        .fixed-size
          h3 Redefining This Year’s Results
          p
            | Our Leadership Team is composed of UK digital marketing veterans, including 
            span Simon Turnbull 
            | and 
            span Jon Myers, 
            | supported by a senior team of employees that typically boast 
            b 10-16 years of experience 
            | each. 
          p
            | We can guarantee that we will find gaps that 
            b bring you immediate growth
            |, and we are willing to support your existing teams to act rapidly to close that potential missed market share opportunity before it’s gone.
          p 
            | We call this 
            span.ion The idea of now.
          br
          .spotlight 
            | The global insurance brand, 
            span AIG, 
            | asked us to carry out just such an audit of their failing PPC car insurance campaign. 
            span Within 30 days
            | , we had 
            span turned it profitable 
            | by reducing their cost per conversion by
            .zoom 47.7%


    .row
      .col-xs-12.col-sm-12.col-md-6.text.wrap-up
        h3 Take Advantage of our Flexible Contracts
        p 
          | If we have peaked your interest, let us put our 
          span knowledge into action 
          | and present you with an overview of existing opportunities. Not just an automated report, but a product of all of our years of experience; and at no cost or risk to you. Then, if you agree with us that the opportunity is 
          span NOW
          |, we will suggest a flexible and friendly contract that shows our focus is results, not ego.
        p(style="margin-bottom:0") 
          | We offer break clauses within our first year contracts, because we are here to 
          span create strong results within 90 days 
          | that make you appreciate our worth. And once we have established that relationship, we find that our clients become more dependent on 
          span our full-service digital advice
          |, including re-designs based on our modern understanding of consumers and UX.
        img(src="/images/concept/Mansion.jpg", alt="Jon Myers Speaking")
      .col-xs-12.col-sm-12.col-md-6.text.questionaire
        .questionaire-wrapper
          h3 <span>Contact us</span> Today
          p Tell us about your objectives over the <span>Next 90 days:</span>
          form(id="form",method='post', name="form")
            input(type="hidden", name="concept", value="true")
            input(type="hidden", name="action", value="concept")
            .form-control
              input(type="text", name="name.first", placeholder="First Name*", required, autocomplete="off")
            .form-control
              input(type="text", name="name.last", placeholder="Last Name*", required, autocomplete="off")
            .form-control
              input(type="text", name="company", placeholder="Company Name*", required, autocomplete="off")
            .form-control
              input(type="email", name="email", placeholder="your@email.com*", required, autocomplete="off")
            .form-control
              textarea(name="message", placeholder="Your objectives", resize="none",rows="4")
            .form-control.submit-button
              input.submit(type="submit", value="send")

block js
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js')
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js")