extends ../layouts/default

block variables
	- var header = "transparent"
	- var body = "contact"
	- var ngApp = "contact"

block content
	.container-fluid.contact-page(ng-controller="ContactCtrl", ng-click="disableServices()",)
		.container
			if enquirySubmitted
				h1.title Thanks for getting in touch.
			else
				h1.title: #contact
			form.row(id="form",method='post', name="form", ng-submit="sendForm()")
				input(type='hidden', name='action', value='contact', required)
				.col-xs-12.col-md-6.form-group(class=validationErrors ? 'has-error' : null)
					input(type='text', ng-model="name.first", name='name.first', value=formData['name.first']).form-control
					label First Name *
				.col-xs-12.col-md-6.form-group(class=validationErrors ? 'has-error' : null)
					input(type='text', ng-model="name.last", name='name.last', value=formData['name.last'], required).form-control
					label Last Name *
				.col-xs-12.col-md-6.form-group(class=validationErrors ? 'has-error' : null)
					input(type='text', ng-model="company", name='company', value=formData.company, required).form-control
					label Company Name *
				.col-xs-12.col-md-6.form-group(class=validationErrors ? 'has-error' : null)
					.wrapper
						select(ng-model="country", name='country', required).form-control
							option(value='') Country*
							each country in countries
								option(value=country.label, selected=countries == country.value)= country.label
						.fa.fa-caret-down
						label(ng-bind="country || 'Country*'")
				.col-xs-12.col-md-6.form-group
					input(type='text', ng-model="website", name='website', value=formData.website).form-control
					label Website
				.col-xs-12.col-md-6.form-group(class=validationErrors ? 'has-error' : null)
					input(type='email', ng-model="email", name='email', required, value=formData.email).form-control
					label E-mail *
				.col-xs-12.col-md-6.form-group
					input(type='tel', ng-model="phone", name='phone', value=formData.phone).form-control
					label Phone
				.col-xs-12.col-md-6.form-group(class=validationErrors ? 'has-error' : null)
					.wrapper(ng-click="enableServices($event)")
						.select(ng-init="services = {}", name='services', ng-hide="!checkbox", ng-class="{ 'active' : checkbox }")
							each service in services
								.option(ng-class=`{ 'active': services["${service.key}"].checked }`, ng-init=`services["${service.key}"] = {name:"${service.name}", checked: false} `, ng-click=`tickService($event, "${service.key}")`)= service.name
						.fa.fa-caret-down
						input(type="hidden", value="{{value}}")
						label(ng-bind="label || 'Choose services interested in'")
				.col-xs-12.col-md-12.form-group(class=validationErrors ? 'has-error' : null)
					textarea(ng-model="message", name='message',rows=4, required).form-control= formData.message
					label Tell us about your project
				.col-xs-12.col-md-6.form-actions
					button(type='submit').btn.btn-primary Send
block js
	script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js')
	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.min.js")
	script(src="/animation/contact-us.js")
	script(src='/js/app/contact.js')