extends ../layouts/default

block variables
	- var header = "transparent"
	- var body = "home"

block content
	.container-fluid.intro
		.row
			.col-sm-12.col-md-6
				#ion
			.col-sm-12.col-md-6.hidden-sm-down
					#graph
					//- img.graph(src="/images/ION_Home_Illustration.png")
	.container-fluid.divided
		.row
			.col-sm-12.col-md-5.white
				.wrapper
					.title.boldest.line Increase your market share in 90 days
					.parragraph Digital opportunities with customers and influencers change every day. Market share growth opportunities arrive and are lost. Digital strategies are often focused on the medium-long term and not on the here-and-now. Limitations exist on either resource or deep specialist knowledge across every digital channel. ION provides one-time 1-2 month audits and consultancies to increase market share in under 90 days.
			.col-sm-12.col-md-7.black.gradient.hidden-sm-down(style="background-image:url(https://res.cloudinary.com/drrgcbwl7/image/upload/c_scale,w_1080/v1519402107/nasa-43569-unsplash_q0vh2a.jpg)")
				//- .wrapper
				//- 	.title.light 
				//- 		| THERE WERE 
				//- 		.bold.accent 10,000 
				//- 		| TWEETS USING THE HASHTAG 
				//- 		.bold.accent #EXAMPLE 
				//- 		| LAST
				//- 	.parragraph If your brand is in the retail industry, you may have missed out on an important marketing opportunity.
	.container-fluid.gallery
		.row
			h2.hidden-md-up.title Case Studies
			#gallery.carousel.slide(data-ride='carousel', data-interval="5000")
				ul.carousel-indicators
				// The slideshow
				.carousel-inner
					.carousel-item.active
						img(src='https://res.cloudinary.com/drrgcbwl7/image/upload/v1518806216/ibis_bxme4b.jpg', alt='ibis hotels')
						.carousel-caption
							h3.title.hidden-sm-down
								| Case<br />Study
							.wrapper
								.subtitle IBIS HOTELS:
								.preface Booking market share in Mexico
								p See how we launched ibis into Mexican social media and continued monthly consultancy to produce a total ROI from media of 1,220%.
					.carousel-item
						img(src='https://res.cloudinary.com/drrgcbwl7/image/upload/v1519402099/case-russell3_obxgfq.jpg', alt='Russell Bedford')
						.carousel-caption
							h3.title.hidden-sm-down
								| Case<br />Study
							.wrapper
								.subtitle RUSSELL BEDFORD:
								.preface Cost efficiency for global accountancy firm
								p See how ion helped Russell Bedford Mexico turn a successful in-house PPC campaign into a world-class strategy and example to other Russell Bedford international offices…
					.carousel-item
						img(src='https://res.cloudinary.com/drrgcbwl7/image/upload/v1519153748/case-aig2_1_omopeu.jpg', alt='aig')
						.carousel-caption
							h3.title.hidden-sm-down
								| Case<br />Study
							.wrapper
								.subtitle AIG:
								.preface PPC AUDIT AND CONSULTING
								p After aig had experienced a 3-month failed PPC campaign in Mexico, see how ion became AIG's 1st consultancy partner in Latin America to create a profitable car insurance PPC campaign in the 1st month of engagement.
				// Left and right controls
				a.control.left.carousel-control-prev(href='#gallery', data-slide='prev')
					i.left
				a.control.right.carousel-control-next(href='#gallery', data-slide='next')
					i.right
	.container-fluid.services
		.row
			.col-md-12
				.title Services
			a(href="/services#!domestic-growth").col-sm-12.col-md-6.service
				img(src="https://res.cloudinary.com/drrgcbwl7/image/upload/v1518804368/international_vpjfy4.jpg")
				.description.black
					.wrapper
						h4.head Domestic growth audit & consultancy
						p.body Even with many years of digital marketing knowledge, it can be difficult to know exactly just how hard each digital channel is working for you...
						.cta Read more
					.no 01
			a(href="/services#!international-growth").col-sm-12.col-md-6.service
				img(src="https://res.cloudinary.com/drrgcbwl7/image/upload/v1519149510/services2BIG_num49d.jpg")
				.description.white
					.wrapper
						h4.head International growth audit & consultancy
						p.body Our International Growth Audit & consultancy is similar to our Domestic Growth Audit & Consultancy, with one crucial difference...
						.cta Read more
					.no 02
			a(href="/services#!audits").col-sm-12.col-md-6.service
				img(src="https://res.cloudinary.com/drrgcbwl7/image/upload/v1518813188/services3BIG_xbhgpy.jpg")
				.description.white
					.wrapper
						h4.head Audits
						p.body Audits in digital marketing have a bad reputation. Too often they involve some technology scanning your website and stating...
						.cta Read more
					.no 03
			a(href="/services#!consultancy").col-sm-12.col-md-6.service
				img(src="https://res.cloudinary.com/drrgcbwl7/image/upload/v1518804368/consultancy_atxhdw.jpg")
				.description.black
					.wrapper
						h4.head Consulting
						p.body Whilst our audits show you the gaps and opportunities surrounding your existing strategy in each area of your digital marketing, our Consultancies show you...
						.cta Read more
					.no 04
	.container-fluid.testimonials
		.row
			.col-md-12.wrapper(style="background-image:url(https://res.cloudinary.com/drrgcbwl7/image/upload/v1518806216/testimonial_zxjuu8.jpg)")
				.col-sm-12.col-md-7.testimonial
					h3.title Testimonial
					p.body “Simon and his team have provided AccorHotels with a best-in-class online strategy that will differentiate both the ibis & Novotel hotel brands in a crowded and competitive Mexican market.<br /><br />Moreover, ION has the ability to understand the client’s needs, translating multiple requirements into a cohesive and integrated approach to building both brand awareness & sales.<br /><br /><br />Whether it be in Canada, the USA, France, Germany, the UK or Mexico, I would thoroughly recommend to work with ION to increase your digital results.”
					small.who -AccorHotels
block js
	//- script(src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.1/lottie.min.js")
	script(src="/animation/graph.js")
	script.
		window.onload = function() {
				var animation = lottie.loadAnimation({
						container: document.getElementById("ion"),
						renderer: "svg",
						autoplay: true,
						loop: false,
						path: "/animation/ion.json"
				});
				var graph = lottie.loadAnimation({
						container: document.getElementById("graph"),
						renderer: "svg",
						autoplay: true,
						loop: false,
						animationData: animationData
				});
				console.log(graph.totalFrames)
				graph.addEventListener("enterFrame", function (animation) {
						if (animation.currentTime > (graph.totalFrames - 20)) {
								graph.pause();
						}
				});
		}