extends ../layouts/default

include ../mixins/post

block variables
  - var body = "blog"

block prepend head
  meta(property='og:image', content=data.post.image.secure_url)
  link(src="/styles/owl.carousel.min.css")
  link(src="/styles/owl.theme.default.min.css")


block intro
  .container-fluid
    .row
      .title-section.col-12(style=`background-image:url(${data.post.image.secure_url})`)
block content
  .container-fluid.post-page
    .row
      .col-sm-12.col-md-9.left
        header.article-details
          .title
            h1
              i.fa.fa-play
              =data.post.title
          .subtitle
            .date
              b=data.post.author.name.first + " " + data.post.author.name.last
              span /
              =data.post._.publishedDate.format('MMMM Do, YYYY')
            span
            each category, index in data.post.categories
              if index != 0
                span /
              a.category(href="/blog/"+category.key)=category.name
        .row.grid
          .content
            .share
              .links
                a.facebook.fa.fa-facebook(onClick=`window.open('https://www.facebook.com/sharer/sharer.php?u=http://theideaofnow.com/blog/post/${data.post.slug}','MyWindow','location=no,width=600,height=400'); return false;`, href="#")
                a.twitter.fa.fa-twitter(onClick=`window.open('https://twitter.com/home?status=${data.post.title}%20%20http%3A//theideaofnow.com/blog/post/${data.post.slug}','MyWindow','location=no,width=600,height=400'); return false;`, href="#")
                a.whatsapp.fa.fa-whatsapp(href=`whatsapp://send?text=${data.post.title} http://theideaofnow.com/blog/post/${data.post.slug}`,data-action="share/whatsapp/share")
            article!= data.post.content.full

      .col-sm-12.col-md-3.side-bar
        .block.categories
          if data.categories.length
            h2 Categories
            .category-list
              each cat in data.categories
                a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).item
                  i.fa.fa-play
                  span.category-name=cat.name
                  span.count (#{cat.postCount})
        .block.tags
          h2 Popular Tags
          .tag-container
            each tag, index in data.tags
              a(href=`/blog/tags/${tag.key}`)=tag.name
        .block.posts.white
          h2 Popular Posts
          .row.grid.hidden-md-down
            each post, index in data.popularPosts
              +post(post, index, "col-md-12")
          .row.grid.owl-carousel.hidden-md-up
            each post, index in data.popularPosts
              .item
                +post(post, index, "col-md-12")
        .block.contact-us
          .wrapper
            span.we Want to see where you can grow your
            span.solution digital market share?
            a(href="/contact") Request a free audit
        .block.email
          h2 ION Email-signup
          p Subscribe to our monthly email for the latest digital marketing and audience insights
          form(action="/contact/")
            input.text(type="email", name="email", placeholder="your@email.com")
            input.submit(type="submit", value="SUBSCRIBE")

block append js
  script(src="/js/app//owl.carousel.min.js")
  script.
    $('.owl-carousel').owlCarousel({
        loop:true,
        items:1,
        margin:10,
        nav:true
    })
