extends ../layouts/default

block variables
	- var ngApp = "services"

block content
	.container-fluid.services-page(ng-controller="ServiceCtrl")
		.row
			.hidden-sm-down.column.col-md-4.selector
				h1.title Services
				ul.coverflow
					each service, index in services
						li.item(ng-init=service)
							a(ui-sref=service.key, ui-sref-active="active") 
								span.name| #{service.shortname}
								span.break /
								span.index 0#{index+1}
			ui-view.column.col-sm-12.col-md-8.service
block js
	script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js')
	script(src='//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js')
	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js")
	script(src='/js/app/services.js')