extends ../layouts/default

block variables
  - var body = "team"
  - var ngApp = "leadership"
  - var popUp = ""

block intro
  .container-fluid
    .row
      .title-section.col-12 
        h1 <span><span class="highlight">ION</span><span class="light"> Leadership</span>

block popUp
  .team-member
    a#close() X
    #image
    .career
      #name.title
      #text

block content
  .container-fluid.main
    .container
      .row
        .col-xs-12.col-md-12.title
          h2 Meet our team
        .col-xs-12.col-md-12.keys
          p At ION, we believe in having real specialists leading the strategy, hands-on, for our clients. If you already work with us, you will be familiar with monthly reporting and strategic guidance being led by our CEO, Simon (who is further supported by industry renowned Non-Executive Directors Paul Doleman & Jon Myers. 
          p This provides real value through every key touch point for our clients, to ensure that no brand misses clear and achievable opportunities in the NOW. Our agency was created to passionately drive market share growth and deliver the maximum return for brands, investors and media agency partners this financial year, not the next. 
          p We welcome you to meet our key people, who each are responsible for overseeing ION’s internal and external operational teams.
  .container-fluid.team-players(ng-controller="ContactCtrl", ng-click="disableServices()",)
    .row
      .col-xs-12.col-sm-12.col-md-6.photo.col-md-push-6(style="background-image:url(/images/team/Simon.png)")
      .col-xs-12.col-sm-12.col-md-6.col-md-pull-6.text#simon(data-profile="simon")
        h3 <span>Simon</span> Turnbull
        h4 Founder & CEO
        p.simon.hiddable Simon commenced his digital career in 2006, working for the largest PPC/SEO agency in Europe, where he worked for Jon Myers and Paul Doleman, to rapidly grow the London office. Over the subsequent years, he was a part of large SEO, Social and Affiliate agencies, during which time he personally led both the pitches and creative strategy to advise brands across a variety of sectors.<br /><br />Simon has frequently been identified for his growth potential, including in 2010, at the age of 28, when he was appointed by industry heavyweight Ben Langdon as Managing Partner for a full-service digital agency with £12 million of annual revenue and 21 staff across two offices. During this time, Simon worked alongside the Group's Creative Agency, where he was mentored by former VP of Facebook/Instagram & UN Advisor. Simon continued to work with Ben (former EY Partner & Regional Director EMEA of McCann Worldgroup) over the following years.<br /><br />Simon’s direct work achievements include: being awarded as the Online PR Agency of Record by Sony Europe; helping The IT Job Board through 4 years of growth across 4 languages to aid its multi-million pound acquisition; creating the very first social media accounts & paid media campaigns for ibis (AccorHotels) in Mexico; and turning an ROI-negative PPC car insurance campaign for AIG into success within 30 days.<br /><br />Simon has spoken at key industry UK events, as well as running advanced seminars for the Internet Advertising Bureau (IAB) UK, to help train in-house teams of brands such as BT and Diageo. With a real passion to continue helping brands directly, Simon created ION with the key message of cutting through agency red tape to help brands gain digital market share within 90 days; creating an agency where results and relationships matter more than laborious contracts.
        .col-12
          a.link.more(href="#") Read More

    .row
      .col-xs-12.col-sm-12.col-md-6.photo.col-md-push-6(style="background-image:url(/images/team/Jon1.jpg)")
      .col-xs-12.col-sm-12.col-md-6.col-md-pull-6.text#jon(data-profile="jon")
        h3 <span>Jon</span> Myers
        h4 Non-Executive Director & Global Search Director
        p.jon.hiddable Jon's experience is in senior roles for large agencies, including publisher-side with Yahoo. More recently, Jon worked in the ad tech space as VP and MD EMEA of Marin Software, before joining DeepCrawl as Chief Growth Officer. He brings a true wealth of experience that helps direct ION’s growth of its service breadth, its operational structure, and ultimately its international client service quality.<br /><br />He has experience in paid search since its inception, and has also worked heavily in SEO, display and paid social over the years. This diverse range has given Jon a strong understanding of all sides of the market, a sharp business knowledge and skill set, and many connections across EMEA and the US who recognise him for his experience and thought leadership within the online advertising industry. This is why Jon was awarded Search Personality of the Year 2017 at the UK Search Awards.<br /><br />Jon is active in the search community, and is most likely to be found moderating, speaking and sharing his knowledge at conferences, webinars and events across the world. He also frequently judges industry awards, including the UK Search Awards, European Search Awards, US Search Awards and Performance Marketing Awards (to name a few).
        .col-12
          a.link.more(href="#") Read More
  .container-fluid.main
    .container
      .row
        .col-xs-12.col-md-12.title(style="display:flex; justify-content: center;")
          h2(style="color:white;font-weight:500;font-style:italic;margin:0;") A FEW OF OUR <span style="font-weight:600;color:#e5ad10;">INTERNATIONAL</span> TEAM
  .container-fluid.team-players  
    .flex-row
      .profile
        img(src="/images/team/profiles/talita.png", alt="Jason")
        .description
          .name Talita
          .location Paris
          .regional Content Executive
      .profile
        img(src="/images/team/profiles/josh.png", alt="Josh")
        .description
          .name Josh
          .location London
          .regional Content Executive
      .profile
        img(src="/images/team/profiles/beto.png", alt="Beto")
        .description
          .name Beto
          .location Mexico City
          .regional Content Manager
      .profile
        img(src="/images/team/profiles/evelyn.png", alt="Dani")
        .description
          .name Evelyn
          .location Mexico City
          .regional Senior Designer
      .profile
        img(src="/images/team/profiles/hollie.png", alt="Hollie")
        .description
          .name Hollie
          .location New York City
          .regional Creative Director
      .profile
        img(src="/images/team/profiles/marcel.png", alt="Marcel")
        .description
          .name Marcel
          .location Bogotá
          .regional Head of Finance, LATAM
      .profile
        img(src="/images/team/profiles/isabela.png", alt="Isabela")
        .description
          .name Isabela
          .location Rio de Janeiro
          .regional Paid Media Manager
      .profile
        img(src="/images/team/profiles/raul.png", alt="Raul")
        .description
          .name Raul
          .location Mexico City
          .regional SEO Executive
      .profile
        img(src="/images/team/profiles/alejandra.png", alt="Alejandra")
        .description
          .name Alejandra
          .location Buenos aires
          .regional Senior Designer
      .profile
        img(src="/images/team/profiles/ricardo.png", alt="Ricardo")
        .description
          .name Ricardo
          .location Guadalajara
          .regional Senior Designer
      .profile
        img(src="/images/team/profiles/juliana.png", alt="Juliana")
        .description
          .name Juliana
          .location London
          .regional Social Selling Manager
      .profile
        img(src="/images/team/profiles/tony2.png", alt="Tony")
        .description
          .name Tony
          .location Mexico City
          .regional Chief Creative Officer, LATAM
      .profile
        img(src="/images/team/profiles/stef.png", alt="Stef")
        .description
          .name Stef
          .location Mexico City
          .regional Paid Media Strategist
      .profile
        img(src="/images/team/profiles/gabriella.png", alt="Gabriella")
        .description
          .name Gabriella
          .location London
          .regional Content Executive
      .profile
        img(src="/images/team/profiles/juan.png", alt="Juan")
        .description
          .name Juan
          .location Lima
          .regional Regional Account Manager
    .row
      .col-xs-12.col-sm-12.col-md-6.text.wrap-up
        h2 SPEAK TO OUR TEAM TODAY
        p We pride ourselves on offering the best advice from the first conversation on where immediate digital opportunities exist. We won’t dazzle you with industry jargon; we will give it to you straight (and politely!). So, whether you work for a brand, a VC firm, or a media agency that needs a trusted partner, you can count on us to identify and implement results within 90 days. If you choose to say hello, our knowledge and commitment will make it nearly impossible to say goodbye.
        img(src="/images/team/1280x800_Turingfestspeaking18.jpg", alt="Jon Myers Speaking")
      .col-xs-12.col-sm-12.col-md-6.text.questionaire
        .questionaire-wrapper(ng-controller="ContactCtrl")
          h3 <span>Contact us</span> Today
          p Tell us about your objectives over the <span>Next 90 days:</span>
          form(id="form",method='post', name="form", ng-submit="sendForm()")
            input(type="hidden", name="leadership", value="true")
            input(type="hidden", name="action", value="leadership")
            .form-control
              input(type="text", name="name.first", placeholder="First Name*", required, autocomplete="off")
            .form-control
              input(type="text", name="name.last", placeholder="Last Name*", required, autocomplete="off")
            .form-control
              input(type="text", name="company", placeholder="Company Name*", required, autocomplete="off")
            .form-control
              input(type="email", name="email", placeholder="your@email.com*", required, autocomplete="off")
            .form-control
              textarea(name="message", placeholder="Your objectives", resize="none",rows="4")
            .form-control.submit-button
              input.submit(type="submit", value="send")

block js
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js')
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js")
  script(src='/js/app/leadership.js')