mixin post(post, index, columns)
	a.col-xs-12.col-sm-12.post(class=index+" "+columns, href='/blog/post/' + post.slug, id=index)
		.wrapper
			.header
				.img
					if post.image.exists
						img(src=post._.image.fill(1300,700)).img
				.title
					h3=post.title
				.details
					.author
						span.bold=post.author.name.first+" "+post.author.name.last
						i /
						span=post._.publishedDate.format('MMMM D, YYYY')
					.categories
						if post.categories.length
						each category,index in post.categories
							if index != 0
								i /
							=category.name
						else
							span No category
			.contents
				p.lead!=post.content.brief+"..."