include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(property='og:locale', content='en_GB')
		meta(property='og:site_name', content='ION')
		meta(property='og:type', content='website')
		meta(property='og:title', content=title || 'ION')
		meta(name='description', content=description)
		meta(property='og:image', content='https://res.cloudinary.com/drrgcbwl7/image/upload/v1519402078/Captura_de_pantalla_2018-02-23_a_la_s_10.06.33_kvhwsc.png')

		title= title || 'ION'
		link(rel="shortcut icon", href="/images/icon.png")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- Tag manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-ND3Z5QM');

		block css
		block head

	//- HTML BODY
	block variables

	body(ng-app=ngApp, class=body)
		//- Tag manager no script
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ND3Z5QM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		//- HEADER\
		.header.desktop.hidden-md-down(class=header)
			.container-fluid
				.container.nav
					.logo: a(href="/"): img(src="/images/logo.svg", alt="ION")
					.row.menu
						- var active
						each link in navLinks
							unless link == "home"
								if section == link.key
									- active = "active"
								else
									- active = ""
								.item: a(href=link.href, class=active).inner=link.label
		.header.mobile.hidden-lg-up(class=header)
			.burger
				span
				span
				span
			.menu
				.wrapper
					.header
						a.home(href="/") ION
					ul.options
						each link in navLinks
							unless link == "home"
								if section == link.key
									- var active = "active"
								.item: a(href=link.href, class=active).inner=link.label
			.logo: a(href="/"): img(src="/images/logo.svg", alt="ION")
		//- BODY
		.pop-up(class=popUp)
			block popUp
		.body(class=body)
			block intro
			+flash-messages(messages)
			block content

		.footer
			.hidden-sm-down.logo: img(src="/images/logo-black.svg")
			.container-fluid.list-wrapper
				.row.justify-content-center
					ul.list.col-md-2
						li.item.head: a(href="/case-studies/") Case Studies
						li.item.hidden-sm-down: a(href="/case-studies#!/ibis-hotels") ibis Hotels
						li.item.hidden-sm-down: a(href="/case-studies#!/aig") AIG Insurance
						li.item.hidden-sm-down: a(href="/case-studies#!/russell-bedford") Russell Bedford
					ul.list.col-md-3
						li.item.head: a(href="/services/") Services
						li.item.hidden-sm-down: a(href="/services#!/domestic-growth") Domestic growth audit & consultancy
						li.item.hidden-sm-down: a(href="/services#!/international-growth") International growth audit & consultancy
						li.item.hidden-sm-down: a(href="/services#!/audits") Audits
						li.item.hidden-sm-down: a(href="/services#!/consultancy") Consultancy
					ul.list.col-md-3
						li.item.head: a(href="/contact/") Contact
						li.item.hidden-sm-down: a(href="/contact/") Ready to grow your market share
						li.item.hidden-sm-down: a(href="/contact/") in the next 90 days?
						li.item.hidden-sm-down: a(href="/contact/") Contact us now
					.hidden-sm-down.full-logo.col-md-2: img(src="/images/ion.svg")
			.hidden-md-up.logo: img(src="/images/logo-black.svg")
		script(src='/js/jquery/jquery-2.1.4.min.js')
		script(src='/js/bootstrap/bootstrap.4.0.min.js')
		script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-104898007-2')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-104898007-2');
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
		block js
		script(src="/js/app/index.js")
