//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix
  clearfix()

.center-block
  center-block()

.pull-right
  float right !important

.pull-left
  float left !important


// Toggling content
// -------------------------

// Note Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide
  display none !important

.show
  display block !important

.invisible
  visibility hidden

.text-hide
  text-hide()


// Hide from screenreaders and browsers
//
// Credit HTML5 Boilerplate

.hidden
  display none !important


// For Affix plugin
// -------------------------

.affix
  position fixed


.hidden-xs-down
  @media (max-width:575px)
    display: none!important

.hidden-sm-up
  @media (min-width:576px)
    display: none!important

.hidden-sm-down
  @media (max-width:767px)
    display: none!important

.hidden-md-up
  @media (min-width:768px)
    display: none!important

.hidden-md-down
  @media (max-width:991px)
    display: none!important

.hidden-lg-up
  @media (min-width:992px)
    display: none!important

.hidden-lg-down
  @media (max-width:1199px)
    display: none!important

.hidden-xl-up
  @media (min-width:1200px)
    display: none!important