<div style="background-image: url({{case.image}})" class="intro">
</div>
<div class="container details">
    <div class="row slideshow">
        <div class="hidden-md-up controls">
            <div class="left">
                <a ui-sref="{{case.prev}}">
                    <img src="/images/case-left.svg" />
                </a>
            </div>
            <div class="right">
                <a ui-sref="{{case.next}}">
                    <img src="/images/case-right.svg" />
                </a>
            </div>
        </div>
        <div class="header hidden-sm-down">
            <h2 class="title" ng-bind="case.fullname"></h2>
            <a class="prev" ui-sref="{{case.prev}}" ui-sref-active="active">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a class="next" ui-sref="{{case.next}}" ui-sref-active="active">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <h2 class="title hidden-sm-up" ng-bind="case.fullname"></h2>
                    <h3 class="subtitle" ng-bind="case.subtitle"></h3>
                    <div class="body">
                        <p ng-bind-html="case.body"></p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 hidden-sm-down results">
                    <a href="/services#!{{case.service.key}}" ng-bind="case.service.anchor_text"></a>
                    <div class="data">
                        <img ng-src="/images/cases/{{case.link}}.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="cta">
            <a href="/contact" class="button col-md-3">Be our next case study</a>
        </div>
    </div>
</div>