<img ng-src="{{service.image}}" />
<div class="detail">
    <div class="hidden-md-up controls">
        <div class="left">
            <a ui-sref="{{service.prev}}">
                <img src="/images/control-left.svg" />
            </a>
        </div>
        <div class="right">
            <a ui-sref="{{service.next}}">
                <img src="/images/control-right.svg" />
            </a>
        </div>
    </div>
    <div class="header">
        <h2 class="title" ng-bind="service.fullname"></h2>
        <div class="cta">
            <a href="/contact">Enquire now</a>
        </div>
    </div>
    <div class="body">
        <span ng-bind="service.body"></span>
        <ul ng-if="service.bullets">
            <li ng-repeat="bullet in service.bullets" ng-bind="bullet"></li>
        </ul>
    </div>
</div>