// Bootstrap
// =========
@import url('https://fonts.googleapis.com/css?family=Lato:100,300i,300,400i,700,900,900i');
/*!
 *  Font Awesome v4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@import "fontawesome.css";
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.eot');
  src: url('/fonts/fontawesome-webfont-iefix.eot') format('embedded-opentype'),
       url('/fonts/fontawesome-webfont.woff2') format('woff2'),
       url('/fonts/fontawesome-webfont.woff') format('woff'),
       url('/fonts/fontawesome-webfont.ttf') format('truetype'),
       url('/fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap"
@import "styles"
